@font-face {
    font-family: "Cardo";
    src: url("fonts/cardo-regular.woff2") format("woff2"),
    url("fonts/cardo-regular.woff") format("woff");
    src: url("fonts/cardo-italic.woff2") format("woff2"),
    url("fonts/cardo-italic.woff") format("woff");
    src: url("fonts/cardo-bold.woff2") format("woff2"),
    url("fonts/cardo-bold.woff") format("woff");
    }
    
body{
    width: 100%;
    background:red url(img/neige1.jpg) no-repeat 100% 100% fixed;;
    
}
header{
    display: flex;
    justify-content:space-between;
    flex-direction: row-reverse;
	width:80%;
	height:130px;
    margin: 0 auto;
    border: 2px double orangered;
	background:rgba(255,255,255,0.5);
}
header:hover{
	background:whitesmoke;
}
img{
    display: block;
    border: 2px double orangered;
    width: 100px;
    height:100px;
    margin: 10px;
}
img:hover{
    width: 400px;
    height:100px;
}
nav{
    display: flex;
    width: 80px;
    height: 80px;
    flex-direction: row;
    justify-content:flex-end ;
    margin: 10px;
}
nav ul li{
    text-align: right;
}
nav ul li a{
    font-family: "Cardo";
    font-style: bold;
    font-size: 14px;
    color:cadetblue;
    text-decoration: none;
}
nav ul li a:hover{
    color:orangered;
    text-decoration:underline;
}
main {
    width: 100%;
    display: flex; 
    justify-content: flex-end;
    flex-direction: column;
    padding-top: 30px;
}

fieldset{
    width: 70%;
    height: max-content;
    background: url(img/neige3.jpg) no-repeat 100% 100% fixed;
    /*border-radius: 2%;*/
    border: 2px solid orangered;
    margin: 0 auto;
}
h1{
    font-family: "Cardo";
    font-size: 30px;
    color: black;
    text-decoration:underline;
    text-align: center;
    padding-bottom: 20px;
}
label{
    font-family: 'Roboto', sans-serif;
}
div{
    font-size: 14px;
    color: black;
    margin-left:  40px ;
    padding-top:10px;
    text-align: center; 
}
div.button{
    padding-top:20px;
    padding-bottom: 20px;
    display: block;
    text-align: center;
}
input{
    font-family: "Cardo";
    font-style: italic;
    width: 30%;
    height: 20px;
    border-radius: 5%;
}
select{
    width: 30%;
    height: 30px;
    border-radius: 5%;
    font-family:optima;
    background-color:white;
}
.share{ 
    width: 30%;
    justify-content: space-between;
    flex-direction:row; 
    display: flex;
    font-size: large;
    padding-top: 20px;margin: 0 auto;
}
li{
    list-style: none;
}  
i{
    color: orangered;
}               